<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
    </header>
    <aside id="sidebar">
        <div class="navbar">
            <a href= "/" <p>Все трансляции</p> </a>
            <a href= "/" <p>О проекте</p> </a>
        </div>
    </aside>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
    <div class="bordered">
         <!-- <div>
        <p>Кнопки для задания))</p>
        <a href="https://www.youtube.com/watch?v=Vn28Tk_uuq0"><button>Москва</button></a>
        <a href="https://www.youtube.com/watch?v=GSmCh4DrbWY"><button>Нью-Йорк</button></a>
        <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button>Лондон</button></a>
            </div> -->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
    </div>
    <div class="Light">
        <p>Наводим курсор - текст подсвечиваетс</p>
    </div>
</body>

</html>